{% extends 'common.html' %}

{% block body %}
<script>
  document.getElementById("nav_contactus").className = "active";
</script>
<!--Write page code below this-->

<div class="content">
  <h2 class="content-head">Address</h2>
  <hr>
  <p style="padding:3px">Department of Computer Applications</p>
  <p style="padding:3px">National Institute of Technology</p>
  <p style="padding:3px">Tiruchirapalli-620015</p>
</div>
<div class="content">
  <h2 class="content-head">Email Id</h2>
  <hr>
  <p>sangeetha@nitt.edu</p>
</div>
<div class="content">
  <h2 class="content-head">Phone Number</h2>
  <hr>
  <p>Phone: 0431 2503743</p>
</div>

<!--Write page code above this-->
{% endblock %}