<!DOCTYPE html>
<html>

<head>
  <title>NIT Trichy, NLP Lab</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="static/images/logo.png" rel="icon" />
  <link rel="stylesheet" href="static/css/atul-web.css">
  <script type="text/javascript" src="static/js/atul-web.js"></script>
</head>

<body>
  <div id="header"></div>
  <script>loadHeader('home'); document.getElementById("nav_demos").className = "active";</script>


  <div class="content" style="float:left;">
    <h2 class="content-head">News & Events</h2>
    <hr>
  </div>
  <div class="content">
    <h2 class="content-head">Researches</h2>
    <hr>
  </div>
  <div id="footer"></div>
</body>

</html>