{% extends 'common.html' %}

{% block body %}
<script>
    document.getElementById("nav_people").className = "active";
</script>
<!--Write page code below this-->

<div class="content">
    <h2 class="content-head">Faculty</h2>
    <hr>
    <img class="img-profile" src="static/images/sangeetha.jpg">
    <p><a href="https://www.nitt.edu/home/academics/departments/ca/facultymca/asstprofessors/sangeetha/" style="text-decoration: none;color: #1E90FF;"><b>Dr.(Mrs.)
                S. Sangeetha</b></a>
        <br><br>
        Assistant Professor
        <br>
        Natural Language Processing and Information Extraction
        <br>
        Department of Computer Applications
    </p>
</div>


<div class="content">
    <h2 class="content-head">Research Scholars
        <hr>
    </h2>
    <div style="display:inline-block;">
        <img class="img-profile" src="static/images/male.png">
        <p><b>Kalyan K S</b></p>
    </div>
    <div style="display:inline-block;">
        <img class="img-profile" src="static/images/female.png">
        <p><b>Annu T.</b></p>
    </div>
</div>

<div class="content">
    <h2 class="content-head">M.Tech. Data Analytics
        <hr>
    </h2>
    <div style="display:inline-block;">
        <img class="img-profile" src="static/images/female.png">
        <p><b>Student 1</b></p>
    </div>
    <div style="display:inline-block;">
        <img class="img-profile" src="static/images/male.png">
        <p><b>Student 2</b></p>
    </div>
</div>

<div class="content">
    <h2 class="content-head">M.Sc. Computer Science
        <hr>
    </h2>
    <div style="display:inline-block;">
        <img class="img-profile" src="static/images/atul.jpg">
        <p><b>Atul Maurya</b></p>
    </div>
    <div style="display:inline-block;">
        <img class="img-profile" src="static/images/Srithika.jpg">
        <p><b>Srithika manikanand</b></p>
    </div>
</div>

<!--Write page code below this-->
{% endblock %}