{% extends 'common.html' %}

{% block body %}
<script>
  document.getElementById("nav_projects").className = "active";
</script>
<!--Write page code below this-->

<div class="content">
  <h2 class="content-head">Project Title 1</h2>
  <hr>
  <div style="margin: 2%; ">
    <p>M.Sc. Computer Science is a full-time four-semester course spread over two years.
      The course provides a solid theoretical foundation through high-quality teaching complemented by extensive
      practical learning.
      M.Sc. Computer Science programme has been offered since the academic year 2014-15.
      After M.Sc. Computer Science, the students can go for higher studies or for a job.
      Placement opportunities are good.</p>
  </div>
</div>
<div class="content">
  <h2 class="content-head">Project Title 2</h2>
  <hr>
  <div style="margin: 2%; ">
    <p>M.Sc. Computer Science is a full-time four-semester course spread over two years.
      The course provides a solid theoretical foundation through high-quality teaching complemented by extensive
      practical learning.
      M.Sc. Computer Science programme has been offered since the academic year 2014-15.
      After M.Sc. Computer Science, the students can go for higher studies or for a job.
      Placement opportunities are good.</p>
  </div>
</div>
<div class="content">
  <h2 class="content-head">Project Title 3</h2>
  <hr>
  <div style="margin: 2%; ">
    <p>M.Sc. Computer Science is a full-time four-semester course spread over two years.
      The course provides a solid theoretical foundation through high-quality teaching complemented by extensive
      practical learning.
      M.Sc. Computer Science programme has been offered since the academic year 2014-15.
      After M.Sc. Computer Science, the students can go for higher studies or for a job.
      Placement opportunities are good.</p>
  </div>
</div>
<div class="content">
  <h2 class="content-head">Project Title 4</h2>
  <hr>
  <div style="margin: 2%; ">
    <p>M.Sc. Computer Science is a full-time four-semester course spread over two years.
      The course provides a solid theoretical foundation through high-quality teaching complemented by extensive
      practical learning.
      M.Sc. Computer Science programme has been offered since the academic year 2014-15.
      After M.Sc. Computer Science, the students can go for higher studies or for a job.
      Placement opportunities are good.</p>
  </div>
</div>

<!--Write page code above this-->
{% endblock %}