{% extends 'common.html' %}

{% block body %}
<script>
  document.getElementById("nav_publications").className = "active";
</script>
<!--Write page code below this-->

<div class="content">
  <h2 class="content-head">International Conferences</h2>
  <hr>
  <ul>
    <li>T. Anu and S. Sangeetha, "Performance analysis of the state-of-the-art neural named entity recognition model
      on judicial domain", in International Conference on Soft Computing: Theory and Applications (Springer
      Proceedings), Dr B R Ambedkar National Institute of Technology, Jalandhar, Punjab, India., 2018.</li>
    <li>T. Anu and S. Sangeetha, "Deep learning architectures for named entity recognition: A survey", in
      International Conference on Advanced Computing and Intelligent Engineering (Springer Proceedings), Siksha 'O'
      Anusandhan Deemed to be University, Bhubaneswar, India, 2018.</li>
    <li>T. Anu and S. Sangeetha, "A legal case ontology for extracting domain-specific entity relationships from
      e-judgments.", in International Conference on Recent Trends in Information Processing & Computing (McGrawHill
      Proceedings, ISBN: 978-81-931119-9-4, Grenze ID: 02.IPCEE.2017.1.511), Bansal Group of Institutes, Bhopal,
      India, 2017, pp. 305–312.</li>
    <li>T. Anu and S. Sangeetha, "Tiex-A tool for extracting structured and semantic information from text
      document.", in International Conference on Business Analytics and Intelligence (ISBN:978-93-85909-54-2), Indian
      Institute of Science, Bangalore, India, 2016, pp. 1026–1032.</li>
    <li>S.Sangeetha, R.S.Thakur, Michael Arock, “Framework for the Extraction of Clausal Mention Movement Events from
      the Text using its Meaning Representation”, In proceedings of International Conference on Emerging Trends in
      Engineering and Technology, IEEE CS, 2009, pp.844-847.</li>
    <li>S.Sangeetha, R.S.Thakur, Michael Arock, “Event Detection using Lexical chain”, 7th International conference
      on Natural Language Processing, LNCS 6233, 2010, pp. 314-319.</li>
    <li>Sangeetha. S, Michael Arock, R.S.Thakur, “Event Mention Detection using Rough set and Semantic Similarity”,
      A2CWiC '10, 2010, ACM.</li>
    <li>Sangeetha. S, Michael Arock, “Event Detection within Text documents using MaxEnt Classification”, Proceedings
      of 3rd International conference on Advanced Topics in Artificial Intelligence ATAI, 2012, Singapore, pp.1-5.</li>
    <li>Sangeetha. S, Michael Arock, “Event Coreference Resolution using Mincut based Graph Clustering”, Proceedings
      of International workshop on Natural Language Processing NLP 2012, 2012, pp. 253-260.</li>
  </ul>
</div>
<div class="content">
  <h2 class="content-head">International Journals </h2>
  <hr>
  <ul>
    <li>S.Sangeetha, R.S.Thakur, Michael Arock, “Domain Independent Event Extraction System Using Text Meaning
      Representation Adopted for Semantic Web”, International Journal of Computer Information Systems and Industrial
      Management Applications, MIR Labs USA, 2010, pp.252-261.</li>
    <li>Sangeetha, S., Thakur, R.S. and Arock, M. (2012) ‘Event detection using trigger chain’, Int. J. Knowledge
      Engineering and Data Mining, Inderscience, Vol. 2, No. 1, pp.76–88.</li>
    <li>Sangeetha, S. and Arock, M. (2012) ‘Recognizing sentence similarity using similitude and Dissimilarity
      features’, Int. J. Advanced Intelligence Paradigms, Inderscience, Vol. 4, No. 2, pp.120–131.</li>
    <li>Sangeetha, S. and Arock, M. (2014) ‘Event extraction from corefering mentions to enrich Semantic web
      metadata’, Int. J. Advanced Intelligence Paradigms, Vol. 6, No. 2, pp.95–112.</li>
    <li>Sangeetha, S. and Arock, M. (2014) ‘Event coreference resolution using particle swarm optimization’, Int. J.
      Knowledge Engineering and Soft Data Paradigms, Vol. 4, No. 3, pp.261–271.</li>
  </ul>
</div>
<br>
<br>

<!--Write page code above this-->
{% endblock %}